<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
    
    <!-- style.css -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <!-- google font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

<title th:text="${title}">Insert title here</title>
</head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<main role="main" class="container">
<br>
<p th:if="${warning}" class="alert alert-danger" role="alert" th:text="${warning}"></p>
<form method="post" action="#" th:action="@{authenticate}" th:object="${loginForm}">
	<label>ユーザーID</label><br>
	<input type="text" name="code"/><br>
	<font color=red><div th:if="${code_val}" th:text="${code_val}"></div></font>
	<br>
	<label>パスワード</label><br>
	<input type="password" name="password"/><br>
	<font color=red><div th:if="${pass_val}" th:text="${pass_val}"></div></font>
	<br>
	<input type="submit" value="ログイン">
</form>
</main>
</body>
</html>